<div class='row'>
	<div class='col-md-3'></div>
	<div class='col-md-9'><h3><%= @consumer.name %></h3></div>
</div>
<div class='row'>
	<div class='col-md-3'>
		<%= render '/buttons', active: 2 %>
	</div>
	<div class='col-md-9 border-orange border rounded pt-2 mb-2'>
		<%= render '/admin/purveyor/form', purveyor: @purveyor, style: 'show' %>
	</div>
</div>
<div class='row'>
	<div class='col-md-3'>
	</div>
	<div class='col-md-3'>
		<%= link_to consumers_path, class: "text-white btn3d btn btn-warning btn-block" do %>
			<i class="fas fa-undo-alt"></i> Повернутись
		<% end %>
	</div>
	<% if can? :edit, Purveyor %>
		<div class='col-md-3'>
			<%= link_to edit_admin_purveyor_path, class: "btn3d btn btn-primary btn-block" do %>
				<i class="fas fa-edit"></i> Редагувати
			<% end %>
		</div>
	<% end %>
</div>