<%= form_for consumer do |f| %>
<% style ||= '' %>
<% if style == 'show' %>
<fieldset disabled>
<% end %>
	<% if style != 'show' %>
	<div class="form-group row">
		<%= f.label :name,"Найменування", class: "col-md-2 col-form-label" %>
		<div class="col-md-6">
			<%= f.text_field :name, class: "form-control" %>
				<div class="invalid-feedback">вже існує</div>
		</div>
		<%= f.label :onec_id, "Номер 1С", class: "col-md-2 col-form-label" %>
		<div class="col-md-2">
			<%= f.number_field :onec_id, class: "form-control" %>
				<div class="invalid-feedback">вже існує</div>
		</div>
	</div>
	<% end %>
	<div class="form-group row">
		<%= f.label :full_name,"Повне найменування", class: "col-md-2 col-form-label" %>
		<div class="col-md-10">
			<%= f.text_area :full_name, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<%= f.label :director,"Керівник", class: "col-md-2 col-form-label" %>
		<div class="col-md-10">
			<%= f.text_field :director, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<%= f.label :edrpou,"ЄДРПОУ", class: "col-md-2 col-form-label" %>
		<div class="col-md-4">
			<%= f.text_field :edrpou, class: "form-control" %>
				<div class="invalid-feedback">вже існує</div>
		</div>
		<%= f.label :inn,"ІПН", class: "col-md-1 col-form-label" %>
		<div class="col-md-5">
			<%= f.text_field :inn, class: "form-control" %>
				<div class="invalid-feedback">вже існує</div>
		</div>
	</div>

	<div class='card mb-3'>
		<div class="card-header">
			Банківські реквізіти
		</div>
		<div class='card-body mb-n3'>
			<div class="form-group row">
				<%= f.label :account,"Рахунок", class: "col-md-2 col-form-label" %>
				<div class="col-md-6">
					<%= f.text_field :account, class: "form-control" %>
				</div>
				<%= f.label :mfo,"МФО", class: "col-md-2 col-form-label" %>
				<div class="col-md-2">
					<%= f.text_field :mfo, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :bank,"Банк", class: "col-md-2 col-form-label" %>
				<div class="col-md-10">
					<%= f.text_field :bank, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>

	<div class='card mb-3'>
		<div class="card-header">
			Контактні дані
		</div>
		<div class='card-body mb-n3'>
			<div class="form-group row">
				<%= f.label :address,"Юр. адреса", class: "col-md-2 col-form-label" %>
				<div class="col-md-10">
					<%= f.text_field :address, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :phone,"Телефони", class: "col-md-2 col-form-label" %>
				<div class="col-md-10">
					<%= f.text_field :phone, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :mail,"E-mail", class: "col-md-2 col-form-label" %>
				<div class="col-md-10">
					<%= f.text_field :mail, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	
	<% if style != 'show' %>
		<div class='card mb-3'>
			<div class="card-header">
				Дані щодо договіру постачання електроенергії
			</div>
			<div class='card-body mb-n3'>
				<div class="form-group row">
					<%= f.label :dog_en_number, "Договір №", class: "col-md-2 col-form-label" %>
					<div class="col-md-2">
						<%= f.text_field :dog_en_number, class: "form-control" %>
					</div>
					<%= f.label :dog_en_date, "від", class: "col-md-1 col-form-label" %>
					<div class="col-md-3">
						<%= f.date_field :dog_en_date, class: "form-control" %>
					</div>
					<%= f.label :distribution, "Оплата розподілу", class: "col-md-2 col-form-label" %>
					<div class="col-md-2">
						<%= f.check_box :distribution, class: "form-control" %>
					</div>
				</div>
			</div>
		</div>

		<div class='card mb-3'>
			<div class="card-header">
				Контроль доступу
			</div>
			<div class='card-body mb-n3'>
				<div class="form-group row">
					<%= f.label :client_username, "Користувач", class: "col-md-2 col-form-label" %>
					<div class="col-md-4">
					<%= f.select :client_username, @clients, {include_blank: true}, class: 'selectpicker form-control', data: { 'live-search' => 'true' } %>
					</div>
					<%= f.label :manager_username, "Менеджер", class: "col-md-2 col-form-label" %>
					<div class="col-md-4">
					<%= f.select :manager_username, @managers, {include_blank: true}, disabled: !current_user.admin_role?, class: 'selectpicker form-control', data: { 'live-search' => 'true' } %>
					</div>
					<%= f.hidden_field :manager_username if !current_user.admin_role? %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<%= f.button type: 'submit', class: "btn btn-outline-dark btn-block" do %>
					<i class="fas fa-save"></i> Зберегти
				<% end %>
			</div>
			<div class="col-md-3">
				<%= link_to :back, class: "btn btn-outline-secondary btn-block" do %>
					<i class="fas fa-undo-alt"></i> Повернутись
				<% end %>
			</div>
		</div>
	<% end %>
<% if style == 'show' %>
</fieldset>
<% end %>
<% end %>