<% if can? :new, Consumer %>
	<h3>Перелік споживачів</h3>
	<%= link_to new_consumer_path, class: "btn3d btn btn-primary" do %>
		<i class="fas fa-plus"></i> Новий споживач
	<% end %>
	</br>
<% end %>
</br>
<table class="table table-striped table-sm">
	<% if can? :manage, Consumer %> 
		<thead>
			<tr>
				<th>#</th>
				<th>Найменування</th>
				<th class="text-right">ЕДРПОУ</th>
				<th class="text-right">Код&nbsp;1С</th>
				<th class="text-center">Змінено</th>
				<th class="text-right"></th>
			</tr>
		</thead>
	<% end %>
	<tbody>
		<% n = 0 %>
		<% @consumers.each do |consumer| %>
			<tr>
				<td><%= n += 1 %></td>
				<td><%= link_to truncate(consumer.name, length: 50), consumer %></td>
				<td class="text-right"><%= consumer.edrpou %></td>
				<td class="text-right"><%= consumer.onec_id %></td>
				<% if can? :manage, Consumer %>
					<td class="text-center">
						<% if consumer.client_changed %>
							<%= link_to consumer_client_changed_path(consumer), 
								class: "btn btn-outline-danger btn-sm" do %>
								<i class="fas fa-exclamation"></i>
							<% end %>
						<% end %>
					</td>
					<td class="text-center">
						<div class="btn-group">
						<%= link_to edit_consumer_path(consumer), 
							class: "btn btn-outline-dark btn-sm" do %>
							<i class="fas fa-edit test-edit-payment"></i>
						<% end %>
						<%= link_to consumer, method: :delete, 
							class: "btn btn-outline-danger btn-sm",
							data: {confirm: "Ви впевнені що хочете видалити споживача #{consumer.name}?"} do %>
							<i class="fas fa-times test-delete-payment">&nbsp;</i>
						<% end %>
						</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>