<div class='row'>
	<div class='col-md-3'></div>
	<div class='col-md-9'><h3><%= @consumer.name %></h3></div>
</div>

<div class='row'>
	<div class='col-md-3'>
		<%= render '/buttons', active: 6 %>
	</div>
	
	<div class='col-md-9 border-orange border rounded py-2 mb-2'>
		<% if @years.first %>
			<div class='row'>
				<div class='col-md-12'>
					<%= form_tag consumer_annual_consumptions_path(@consumer), method: 'get' do %>
						<div class="form-row align-items-end">
							<div class="col-auto">
								<%= label_tag 'year', 'Розрахунковий рік:' %>
							</div>
							<div class="col-auto">
								<%= select_tag 'year', options_for_select(@years, @current_year), class: 'form-control' %>
							</div>
							<div class='col-auto'>
								<%= button_tag 'Показати', class: 'btn3d btn btn-primary mb-1' %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<br />

			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#econsumption">Обсягі споживання електроенергіі</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ecost">Вартість споживання електроенергіі</a>
			  </li>
			  <% if @consumer.distribution %>
				  <li class="nav-item">
				    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dcost">Вартість послуги з розподілу</a>
				  </li>
				<% end %>
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="econsumption">
			  	<%= render 'chart', chart_data: @annual_e_consumption, y_title: 'МВт*год', table_title: 'Фактично спожитий обсяг е/е, МВт*год.', precision: 3 %>
			  </div>
			  <div class="tab-pane fade" id="ecost">
			  	<%= render 'chart', chart_data: @annual_e_cost, y_title: 'грн.', table_title: 'Вартість споживання е/е, грн. з ПДВ', precision: 2 %>
			  </div>
			  <% if @consumer.distribution %>
			  	<div class="tab-pane fade" id="dcost">
			  		<%= render 'chart', chart_data: @annual_d_cost, y_title: 'грн.', table_title: 'Вартість послуги з розподілу е/е, грн. з ПДВ', precision: 2 %>
			  	</div>
			  <% end %>	
			</div>
		<% else %>
			<br />
			<p class="font-italic text-danger text-center">Відомості про споживання електроенергії відсутні</p>
		<% end %>
	</div>
</div>

<div class='row'>
	<div class='col-md-3'>
	</div>

	<div class='col-md-3'>
		<%= link_to consumers_path, class: "btn3d text-white btn btn-warning btn-block" do %>
			<i class="fas fa-undo-alt"></i> Повернутись
		<% end %>
	</div>

</div>