<h2>Увійти</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group mb-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-lg-3 col-md-5" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-lg-3 col-md-5" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions form-group">
    <%= f.button type: 'submit', class: "btn3d btn btn-primary btn-block col-lg-3 col-md-5" do %>
    &nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i> Увійти &nbsp;&nbsp;
    <% end %>
  </div>
<% end %>
