<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Кабінет споживачів компанії ЕЛКОМ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9c2879dab9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light font-weight-bold" style="background-color: #ededed;">
        <a class="navbar-brand" href="https://elcom.com.ua/">
          <img src="/logo-8e-sb.png" alt="">
        </a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if can? :index, User  %>
              <li class="nav-item">
                <%= link_to "СПОЖИВАЧІ", consumers_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "КОРИСТУВАЧІ", users_path, class: "nav-link" %>
              </li>
            <% end %>
            <% if current_user&.admin_role? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                АДМІНІСТРУВАННЯ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  <%= link_to "Імпорт споживачів", admin_filling_consumers_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Імпорт даних по розрахункам за е/енергію", admin_filling_consumptions_path, class: "dropdown-item" %>
                  <%= link_to "Імпорт даних по розрахункам за розподіл е/енергії", admin_filling_distributions_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Імпорт актів з споживання електроенергії", admin_filling_ccertificates_path, class: "dropdown-item" %>
                  <%= link_to "Імпорт актів з розподілу електроенергії", admin_filling_dcertificates_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Облікові дані постачальника", edit_admin_purveyor_path, class: "dropdown-item" %>
                </div>
              </li>
            <% end %>
          </ul>

          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <span class="navbar-text">
                Користувач: <%= current_user.name %> | 
              </span>
              <li class="nav-item">
                <%= link_to "Вихід", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Увійти", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to root_path << 'readme.pdf', target: :_blank, class: "nav-link"  do %>
                <i class="fas fa-info-circle fa-2x"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <div class="footer">
      <footer>
        <div class="container-fluid">
          <div class= 'row'>
            <div class= 'col-auto mr-auto py-2 font-weight-bold'>
              <br>
              «ЕЛКОМ» - надійність, перевірена часом!
            </div>
            <div class= 'col-auto py-2 text-right text-dark'>
              наші фахівці <br>
              нададуть відповіді <br>
              на всі Ваші запитання <br>
            </div>
            <div class= 'col-auto py-2 text-left text-dark'>
              (057) 751-05-90 <br>
              (050) 751-05-90 <br>
              (097) 751-05-90 <br>
              e-mail: <a href="mailto:tek@elcom.com.ua">tek@elcom.com.ua</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
